@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}    

.logo {
    font-weight: 900;
    transition: 1s;
}
.logo:hover {
    transition: 1s;
    font-weight: 500;
}

header {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

body {
    font-family: Montserrat;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: 500;
}

main {
    margin-top: 20px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 20px;
    margin: 15px;
}
.container2 {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.pre-container2 {
    position: relative;
    text-align: center;
    color: white;
    border-radius: 20px;
    margin: 15px;
}

.news,
.title {
    position: absolute;
    font-weight: 800;
    width: 100%;
    text-align: center;
}
.news {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}
.title {
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.news2,
.news3,
.title2,
.title3 {
    position: absolute;
    font-weight: 800;
    width: 100%;
    text-align: center;
}

.news2 {
    top: 40%;
    left: 3%;
    font-size: 25px;
}

.news3 {
    top: 40%;
    left: 3%;
    font-size: 25px;
}

.title2 {
    top: 60%;
    left: 3%;
    font-size: 15px;
}

.title3 {
    top: 60%;
    left: 3%;
    font-size: 15px;
}

.news,
.news2,
.news3,
.title,
.title2,
.title3 {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}


footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.foot2 {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}
.soc-seti {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.nana {
    color: rgb(98, 98, 98);
}

img {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
img:hover {
    box-shadow: 0 0 0 1px #ccc, 0 -20px 10px -5px #6BFA76, 20px 0 10px -5px #FBC16A, 0 20px 10px -5px #F4F171, -20px 0 10px -5px #6BA5FA;	
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px black;
    font-style: italic;
    color: #29627e;
}

#myAside {
    width: 230px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: rgba(240, 240, 240, 0.9);
    transition: left 1s ease;
    box-shadow: 0 0 0 1px #ccc, 0 -20px 10px -5px #6BFA76, 30px 0 10px -5px #6BFA76, 0 20px 10px -5px #F4F171, -20px 0 10px -5px #6BA5FA;
  }
  
.content {
    padding: 20px;
}
.button-container {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1001;
}

.button-p {
    font-size: 40px;
    font-weight: 900;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
    transition: 1s;
}
a:hover {
    font-weight: 900;
    transition: 1s;
    color: #00b100;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    header {
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
    }
    header p {
        margin: 5px;
    }
    .container {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        margin: 3px;
    }
    .container2 {
        display: flex;
        justify-content: center;
    }
    .container img {
        width: 350px;
        height: 100;
    }
    .container2 img {
        width: 175px;
        height: 100px;
    }
    .news,.news2,.news3{
        font-size: 10px;
    }
    .title,.title2,.title3 {
        font-size: 7px;
    }
    .news,.title {
        width: 200px;
    }
    .news2,.news3,.title2,.title3 {
        width: 165px;
    }
    .pre-container2 {
        margin: 1px;
    }

    footer {
        display: flex;
        justify-content: center;
        font-size: 10px;
    }
    .iphone {
        width: 0px;
        height: 0px;
    }
    .foot2 {
        border: 1px solid black;
        border-radius: 20px;
        padding: 10px;
        width: 150px;
    }
    .info-pril {
        margin-top: 7px;
        display: flex;
        justify-content: center;
    }
    .pril,.project {
        margin: 5px;
    }

    aside {
        width: 100%;
        z-index: 1000;
    }

    #myAside {
        box-shadow: 0 0 0 1px #ccc, 0 -20px 10px -5px #6BFA76, 10px 0 10px -5px #ff2626, 0 20px 10px -5px #F4F171, -20px 0 10px -5px #6BA5FA;
    }
    .button-container {
        top: 0px;
        color: red;
    }
}